# Environment files
production.env
docker-compose.yml
docker-compose.override.yml
# Gizli/Ortama özel dosyalar
# #######################
appsettings.json
appsettings.Development.json

# Yüklenen statik dosyalar (CV, profil resmi vb.)
# ################################################
/wwwroot/static/*

# Visual Studio & .NET Core
# #######################
/bin
/obj
.vs/
*.user
*.suo

# Log dosyaları
# ###########
*.log 

# Sertifikalar
certs/

# Mac/Linux
.DS_Store