# Gerçek production.env dosyanızda bu değişkeni güçlü ve tahmin edilemez bir şifre ile doldurun.
# Örneğin: DB_PASSWORD=p@s$W0rd.!_2024_PROD
DB_PASSWORD=Your_Super_Secret_Password_Here 
ADMIN_PASSWORD=buraya_güçlü_şifre
TURNSTILE_SECRET_KEY=buraya_cloudflare_secret_key