@model MyPortfolio.Web.Models.Entities.Education

@{
    ViewData["Title"] = "Eğitim Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Eğitim Bilgisi Düzenleme Sayfası</h4>
<hr />

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="School_tr" class="control-label">Okul (TR)</label>
        <input asp-for="School_tr" class="form-control" />
        <span asp-validation-for="School_tr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="School_en" class="control-label">Okul (EN)</label>
        <input asp-for="School_en" class="form-control" />
        <span asp-validation-for="School_en" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department_tr" class="control-label">Bölüm (TR)</label>
        <input asp-for="Department_tr" class="form-control" />
        <span asp-validation-for="Department_tr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department_en" class="control-label">Bölüm (EN)</label>
        <input asp-for="Department_en" class="form-control" />
        <span asp-validation-for="Department_en" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateRange_tr" class="control-label"></label>
        <input asp-for="DateRange_tr" class="form-control" />
        <span asp-validation-for="DateRange_tr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateRange_en" class="control-label"></label>
        <input asp-for="DateRange_en" class="form-control" />
        <span asp-validation-for="DateRange_en" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description_tr" class="control-label">Açıklama (TR)</label>
        <textarea asp-for="Description_tr" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description_tr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description_en" class="control-label">Açıklama (EN)</label>
        <textarea asp-for="Description_en" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description_en" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Güncelle" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</form>
