@model IEnumerable<MyPortfolio.Web.Models.Entities.Skill>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var groupedSkills = Model.GroupBy(s => s.Category);
}

<div class="skills-list">
    @foreach (var group in groupedSkills)
    {
        <div class="skill-category">
            <h4 class="skill-category-title">@group.Key.ToUpper()</h4>
            <div class="skill-pills">
                @foreach (var skill in group)
                {
                    <span class="skill-pill">@skill.Name</span>
                }
            </div>
        </div>
    }
</div>
