@model MyPortfolio.Web.Models.ViewModels.ExperienceViewModel

@{
    ViewData["Title"] = "Yeni Deneyim Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<hr />

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        @* Turkish Fields *@
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title_tr" class="control-label"></label>
                <input asp-for="Title_tr" class="form-control" />
                <span asp-validation-for="Title_tr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company_tr" class="control-label"></label>
                <input asp-for="Company_tr" class="form-control" />
                <span asp-validation-for="Company_tr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location_tr" class="control-label"></label>
                <input asp-for="Location_tr" class="form-control" />
                <span asp-validation-for="Location_tr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRange_tr" class="control-label"></label>
                <input asp-for="DateRange_tr" class="form-control" />
                <span asp-validation-for="DateRange_tr" class="text-danger"></span>
            </div>
        </div>

        @* English Fields *@
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title_en" class="control-label"></label>
                <input asp-for="Title_en" class="form-control" />
                <span asp-validation-for="Title_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company_en" class="control-label"></label>
                <input asp-for="Company_en" class="form-control" />
                <span asp-validation-for="Company_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location_en" class="control-label"></label>
                <input asp-for="Location_en" class="form-control" />
                <span asp-validation-for="Location_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRange_en" class="control-label"></label>
                <input asp-for="DateRange_en" class="form-control" />
                <span asp-validation-for="DateRange_en" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr />

    <h5>Sorumluluklar</h5>
    <div id="responsibilities-container">
        @for (int i = 0; i < Model.Responsibilities.Count; i++)
        {
            <div class="form-group responsibility-item p-3 border rounded mb-2">
                 <input type="hidden" asp-for="Responsibilities[i].Id" />
                 <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Responsibilities[i].Description_tr" class="control-label">Açıklama (TR)</label>
                        <textarea asp-for="Responsibilities[i].Description_tr" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Responsibilities[i].Description_en" class="control-label">Açıklama (EN)</label>
                        <textarea asp-for="Responsibilities[i].Description_en" class="form-control" rows="2"></textarea>
                    </div>
                 </div>
                 <button type="button" class="btn btn-danger btn-sm mt-2 remove-responsibility">Bu Sorumluluğu Sil</button>
            </div>
        }
    </div>
    <button type="button" id="add-responsibility" class="btn btn-sm btn-success mt-2">Sorumluluk Ekle</button>

    <hr />

    <div class="form-group mt-3">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            let respContainer = $('#responsibilities-container');

            function reindexResponsibilities() {
                respContainer.find('.responsibility-item').each(function(index, item) {
                    $(item).find('input, textarea').each(function() {
                        let name = $(this).attr('name');
                        if (name) {
                            let newName = name.replace(/\[\d+\]/, '[' + index + ']');
                            $(this).attr('name', newName);
                        }
                    });
                });
            }

            $('#add-responsibility').on('click', function () {
                let newIndex = respContainer.find('.responsibility-item').length;
                let newItemHtml = `
                    <div class="form-group responsibility-item p-3 border rounded mb-2">
                        <input type="hidden" name="Responsibilities[${newIndex}].Id" value="0" />
                        <div class="row">
                            <div class="col-md-6">
                                <label name="Responsibilities[${newIndex}].Description_tr" class="control-label">Açıklama (TR)</label>
                                <textarea name="Responsibilities[${newIndex}].Description_tr" class="form-control" rows="2"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label name="Responsibilities[${newIndex}].Description_en" class="control-label">Açıklama (EN)</label>
                                <textarea name="Responsibilities[${newIndex}].Description_en" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm mt-2 remove-responsibility">Bu Sorumluluğu Sil</button>
                    </div>`;
                respContainer.append(newItemHtml);
            });

            respContainer.on('click', '.remove-responsibility', function () {
                $(this).closest('.responsibility-item').remove();
                reindexResponsibilities();
            });
        });
    </script>
}
